<body>


<ul class="pages">
        <li>
            <a href="html-drivers/piastri.html">
                <img src="assets/images/drivers-page/piastri.avif" alt="Oscar Piastri">
            </a>
            <div class="page-footer">
                <p>© All rights reserved. Subject to change without notice. Available in select regions.
                    <a href="#">See details</a>
                </p>
            </div>
        </li>

        <li>
            <a href="html-drivers/lando.html">
                <img src="assets/images/drivers-page/norris.avif" alt="Lando Norris">
            </a>
            <div class="page-footer">
                <p>© All rights reserved. Subject to change without notice. Available in select regions.
                    <a href="#">See details</a>
                </p>
            </div>
        </li>

        <li>
            <a href="html-drivers/ver.html">
                <img src="assets/images/drivers-page/verstappen.avif" alt="Max Verstappen">
            </a>
            <div class="page-footer">
                <p>© All rights reserved. Subject to change without notice. Available in select regions.
                    <a href="#">See details</a>
                </p>
            </div>
        </li>

        <li>
            <a href="html-drivers/russell.html">
                <img src="assets/images/drivers-page/russell.avif" alt="George Russell">
            </a>
            <div class="page-footer">
                <p>© All rights reserved. Subject to change without notice. Available in select regions.
                    <a href="#">See details</a>
                </p>
            </div>
        </li>
<!-- amuntar -->
        <li>
            <a href="html-drivers/lec.html">
                <img src="assets/images/drivers-page/leclerc.avif" alt="Charles Leclerc">
            </a>
            <div class="page-footer">
                <p>© All rights reserved. Subject to change without notice. Available in select regions.
                    <a href="#">See details</a>
                </p>
            </div>
        </li>

        <li>
            <a href="html-drivers/kimi.html">
                <img src="assets/images/drivers-page/antonelli.avif" alt="Kimi Antonelli">
            </a>
            <div class="page-footer">
                <p>© All rights reserved. Subject to change without notice. Available in select regions.
                    <a href="#">See details</a>
                </p>
            </div>
        </li>


        <li>
            <a href="html-drivers/hamilton.html">
                <img src="assets/images/drivers-page/hamilton.avif" alt="Lewis Hamilton">
            </a>
            <div class="page-footer">
                <p>© All rights reserved. Subject to change without notice. Available in select regions.
                    <a href="#">See details</a>
                </p>
            </div>
        </li>

        <li>
            <a href="html-drivers/albon.html">
                <img src="assets/images/drivers-page/albon.avif" alt="Alexander Albon">
            </a>
            <div class="page-footer">
                <p>© All rights reserved. Subject to change without notice. Available in select regions.
                    <a href="#">See details</a>
                </p>
            </div>
        </li>

        <li>
            <a href="html-drivers/ocon.html">
                <img src="assets/images/drivers-page/ocon.avif" alt="Esteban Ocon">
            </a>
            <div class="page-footer">
                <p>© All rights reserved. Subject to change without notice. Available in select regions.
                    <a href="#">See details</a>
                </p>
            </div>
        </li>

        <li>
            <a href="html-drivers/stroll.html">
                <img src="assets/images/drivers-page/stroll.avif" alt="Lance Stroll">
            </a>
            <div class="page-footer">
                <p>© All rights reserved. Subject to change without notice. Available in select regions.
                    <a href="#">See details</a>
                </p>
            </div>
        </li>


        <li>
            <a href="html-drivers/gasly.html">
                <img src="assets/images/drivers-page/gasly.avif" alt="Pierre Gasly">
            </a>
            <div class="page-footer">
                <p>© All rights reserved. Subject to change without notice. Available in select regions.
                    <a href="#">See details</a>
                </p>
            </div>
        </li>

        <li>
            <a href="html-drivers/nico.html">
                <img src="assets/images/drivers-page/hulkenberg.avif" alt="Nico Hülkenberg">
            </a>
            <div class="page-footer">
                <p>© All rights reserved. Subject to change without notice. Available in select regions.
                    <a href="#">See details</a>
                </p>
            </div>
        </li>

        <li>
            <a href="html-drivers/bearman.html">
                <img src="assets/images/drivers-page/bearman.avif" alt="Oliver Bearman">
            </a>
            <div class="page-footer">
                <p>© All rights reserved. Subject to change without notice. Available in select regions.
                    <a href="#">See details</a>
                </p>
            </div>
        </li>

        <li>
            <a href="html-drivers/isack.html">
                <img src="assets/images/drivers-page/hadjar.avif" alt="Oliver Bearman">
            </a>
            <div class="page-footer">
                <p>© All rights reserved. Subject to change without notice. Available in select regions.
                    <a href="#">See details</a>
                </p>
            </div>
        </li>


        <li>
            <a href="html-drivers/sainz.html">
                <img src="assets/images/drivers-page/sainz.avif" alt="Carlos Sainz">
            </a>
            <div class="page-footer">
                <p>© All rights reserved. Subject to change without notice. Available in select regions.
                    <a href="#">See details</a>
                </p>
            </div>
        </li>

        <li>
            <a href="html-drivers/yuki.html">
                <img src="assets/images/drivers-page/tsunoda.avif" alt="Yuki Tsunoda">
            </a>
            <div class="page-footer">
                <p>© All rights reserved. Subject to change without notice. Available in select regions.
                    <a href="#">See details</a>
                </p>
            </div>
        </li>

        <li>
            <a href="html-drivers/alonso.html">
                <img src="assets/images/drivers-page/alonso.avif" alt="Fernando Alonso">
            </a>
            <div class="page-footer">
                <p>© All rights reserved. Subject to change without notice. Available in select regions.
                    <a href="#">See details</a>
                </p>
            </div>
        </li>

        <li>
            <a href="html-drivers/liam.html">
                <img src="assets/images/drivers-page/lawson-racing-bulls.avif" alt="Liam Lawson">
            </a>
            <div class="page-footer">
                <p>© All rights reserved. Subject to change without notice. Available in select regions.
                    <a href="#">See details</a>
                </p>
            </div>
        </li>

        <li>
            <a href="html-drivers/doohan.html">
                <img src="assets/images/drivers-page/doohan.avif" alt="Jack Doohan">
            </a>
            <div class="page-footer">
                <p>© All rights reserved. Subject to change without notice. Available in select regions.
                    <a href="#">See details</a>
                </p>
            </div>
        </li>

        <li>
            <a href="html-drivers/gabriel.html">
                <img src="assets/images/drivers-page/bortoleto.avif" alt="Gabriel Bortoleto">
            </a>
            <div class="page-footer">
                <p>© All rights reserved. Subject to change without notice. Available in select regions.
                    <a href="#">See details</a>
                </p>
            </div>
        </li>
<!-- fin -->
        
    </ul>

</body>


<!-- <span class="flag">🇦🇺</span> -->