body {
  background-color: #000;
}


.pages{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
    text-align: center;
    flex-direction: row;
} 

.pages li{
    flex: 0 0 10%; /* Ocupar 12.5% exacto del contenedor */
    max-width: 10%;
    position: relative;
    display: flex;
    flex-direction: column;
    height: 50vh;
    /* width: 12.5vw; */
    justify-content: space-between;
    padding-top: 150px;
    padding-bottom: 10px;
    color: #fff;
    scroll-snap-align: start;
    opacity: 0.2;
}

.pages li video,
.pages li img{
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    object-fit: cover;
    width: 100%;
    height: 100%;
} 

.page-footer p,
.page-footer a{
    font-size: 7px;
    color: #fff;

}
/*ACA */

.pages li {
    transition: transform 0.3s ease, width 0.3s ease;
    
}

.pages li:hover {
    transform: scale(1.03);
    z-index: 2;
    opacity: 1;
    cursor: pointer;
}

/*PILOTOS*/


/* RESPONSIVE PARA CELULARES */
@media (max-width: 768px) {
    .nav-container {
        flex-wrap: wrap;
        height: auto;
        padding: 10px 20px;
        justify-content: center;
        gap: 10px;
    }

    .nav-container ul {
        flex-wrap: wrap;
        justify-content: center;
        gap: 10px;
        font-size: 14px;
    }

    .logo {
        width: 100px;
        height: auto;
    }

    .pages {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    .pages li {
        width: 40vw; /* Cada item ocupa 40% del ancho en celulares */
        height: 40vh;
        padding-top: 200px;
        opacity: 1; /* Hacemos que ya se vean bien sin hover en móviles */
    }

    .page-footer p,
    .page-footer a {
        font-size: 9px;
    }

    .nav-container .icons {
        justify-content: center;
        width: 100%;
        margin-top: 10px;
    }

}

