<ul class="pages">
  <li>
    <img src="assets/images/index/2023-Formula1-Red-Bull-Racing-RB19-002-1080w.jpg" alt="RB 19 auto de F1">
    <div class="page-info">
      <h1>RB 19</h1>
      <p>Red Bull's most dominant car in Formula 1 history</p>
    </div>
    <div class="page-footer">
      <div class="buttons">
        <button>More Info</button>
        <button>Contact Us</button>
      </div>
      <p>
        © All rights reserved. Subject to change without notice. Available in select regions.
        <a href="#" target="_blank" rel="noopener noreferrer">See details</a>
      </p>
    </div>
  </li>

  <li>
    <img src="assets/images/index/ham.jpg" alt="Lewis Hamilton Piloto">
    <div class="page-info">
      <h1>Lewis Hamilton</h1>
      <p>Winner of seven world championships</p>
    </div>
    <div class="page-footer">
      <div class="buttons inverted">
        <button>More Info</button>
        <button>Contact Us</button>
      </div>
      <p>
        © All rights reserved. Subject to change without notice. Available in select regions.
        <a href="#" target="_blank" rel="noopener noreferrer">See details</a>
      </p>
    </div>
  </li>

  <li>
    <img src="assets/images/index/ver2.jpeg" alt="Max Verstappen Piloto">
    <div class="page-info" id="Max">
      <h1>Max Verstappen</h1>
      <h3>In 2023*</h3>
      <p>He set a record with 10 consecutive Grand Prix victories.</p>
    </div>
    <div class="page-footer">
      <div class="buttons">
        <button>More Info</button>
        <button>Contact Us</button>
      </div>
      <p>
        © All rights reserved. Subject to change without notice. Available in select regions.
        <a href="#" target="_blank" rel="noopener noreferrer">See details</a>
      </p>
    </div>
  </li>

  <li>
    <img src="assets/images/index/per.jpg" alt="Checo Perez Piloto">
    <div class="page-info">
      <h1>Sergio Perez</h1>
      <h3>King of the Street Circuits</h3>
    </div>
    <div class="page-footer">
      <div class="buttons">
        <button>More Info</button>
        <button>Contact Us</button>
      </div>
      <p>
        © All rights reserved. Subject to change without notice. Available in select regions.
        <a href="#" target="_blank" rel="noopener noreferrer">See details</a>
      </p>
    </div>
  </li>
</ul>
