<ul class="pages">
        <li>
            <img src="assets/images/teams-page/mclaren_mcl38_formula_1_2024_4k-2560x1440.jpg" alt="Mclaren Team">
            <div id="model-y-info" class="page-info">
                <h1>McLaren</h1>
                <p>McLaren Formula 1 Team</p>
                <h3>Woking, United Kingdom</h3>
                    
            </div>
            <div class="page-footer">
                <p>© All rights reserved. Subject to change without notice. Available in select regions.
                    <a href="#">See details</a>
                </p>
            </div>
        </li>

        <li>
            <img src="assets/images/teams-page/mercedes-amg-f1-w15-3840x2160-15853.jpg" alt="Mercedes Amg Team">
            <div class="page-info">
                <h1>Mercedes</h1>
                <p>Mercedes-AMG PETRONAS Formula One Team</p>
                <h3>Brackley, United Kingdom</h3>
            </div>
            <div class="page-footer">
                <p>© All rights reserved. Subject to change without notice. Available in select regions.
                    <a href="#">See details</a>
                </p>
            </div>
        </li>

        <li>
            <img src="assets/images/teams-page/2025-Formula1-Red-Bull-Racing-RB21-003-1600.jpg" alt="Red Bull Racing Team">
            <div class="page-info">
                <h1>Red Bull</h1>
                <p>Oracle Red Bull Racing</p>
                <h3>Milton Keynes, United Kingdom</h3>
            </div>
            <div class="page-footer">
                <p>© All rights reserved. Subject to change without notice. Available in select regions.
                    <a href="#">See details</a>
                </p>
            </div>
        </li>

        <li>
            <img src="assets/images/teams-page/2023-Formula1-Ferrari-SF-23-001-1600.jpg" alt="Ferrari Team">
            <div class="page-info">
                <h1>Ferrari</h1>
                <p>Scuderia Ferrari HP</p>
                <h3>Maranello, Italy</h3>
            </div>
            <div class="page-footer">
                <p>© All rights reserved. Subject to change without notice. Available in select regions.
                    <a href="#">See details</a>
                </p>
            </div>
        </li>

        <li>
            <img src="assets/images/teams-page/williams-fw45-f1-2560x1600-10485.jpg" alt="Williams Racing Team">
            <div class="page-info">
                <h1>Williams</h1>
                <p>Atlassian Williams Racing</p>
                <h3>Grove, United Kingdom</h3>
            </div>
            <div class="page-footer">
                <p>© All rights reserved. Subject to change without notice. Available in select regions.
                    <a href="#">See details</a>
                </p>
            </div>
        </li>

        <li>
            <img src="assets/images/teams-page/VF24-KM_6-464.webp" alt="Haas Ferrari Team">
            <div class="page-info">
                <h1>Haas</h1>
                <p>MoneyGram Haas F1 Team</p>
                <h3>Kannapolis, United States</h3>
            </div>
            <div class="page-footer">
                <p>© All rights reserved. Subject to change without notice. Available in select regions.
                    <a href="#">See details</a>
                </p>
            </div>
        </li>

        <li>
            <img src="assets/images/teams-page/aston-martin-amr24-f1-2024-uhd-4k-wallpaper.jpeg" alt="Aston Martin Team">
            <div class="page-info">
                <h1>Aston Martin</h1>
                <p>Aston Martin Aramco Formula One Team</p>
                <h3>Silverstone, United Kingdom</h3>
            </div>
            <div class="page-footer">
                <p>© All rights reserved. Subject to change without notice. Available in select regions.
                    <a href="#">See details</a>
                </p>
            </div>
        </li>

        <li>
            <img src="assets/images/teams-page/racing-bulls-2025-26-67b5a0bd7d40b.jpg" alt="Racing Bulls Team">
            <div class="page-info">
                <h1>Racing Bulls</h1>
                <p>Visa Cash App Racing Bulls Formula One Team</p>
                <h3>Faenza, Italy</h3>
            </div>
            <div class="page-footer">
                <p>© All rights reserved. Subject to change without notice. Available in select regions.
                    <a href="#">See details</a>
                </p>
            </div>
        </li>

        <li>
            <img src="assets/images/teams-page/alpin.jpg.webp" alt="Alpin Team">
            <div class="page-info">
                <h1>Alpine</h1>
                <p>BWT Alpine Formula One Team</p>
                <h3>Enstone, United Kingdom</h3>
            </div>
            <div class="page-footer">
                <p>© All rights reserved. Subject to change without notice. Available in select regions.
                    <a href="#">See details</a>
                </p>
            </div>
        </li>

        <li>
            <img src="assets/images/teams-page/Formula1-Sauber.jpg" alt="Kick Sauber Team">
            <div class="page-info">
                <h1>Kick Sauber</h1>
                <p>Stake F1 Team Kick Sauber</p>
                <h3>Hinwil, Switzerland</h3>
            </div>
            <div class="page-footer">
                <p>© All rights reserved. Subject to change without notice. Available in select regions.
                    <a href="#">See details</a>
                </p>
            </div>
        </li>
        
    </ul>
